// Ignore Warnings
$enable-deprecation-messages: false;
$ignore-warning: false;

// Change Grid
$grid-columns: 14;
$grid-gutter-width: 20px;

// Fonts
$primary-font: muli, sans-serif;

// Colors
$primary-color: #ff7901;
$secondary-color: #11bb48;
